html, body {
	font-family: Helvetica, sans-serif;
}
main {
	padding: 1em;
}
.label-wrap {
	margin-top: 1em;
	display: inline-block;
}
.input-wrap {
	display: inline-block;
}
fieldset {
  margin: 1em 0;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
