html, body {
	font-family: Helvetica, sans-serif;
	text-align: center;
}
main {
	padding: 1em;
}
.icon {
	display: block;
	width: 3em;
	height:2.6em;
	fill: currentColor;
}
.icon-menu {
	background: url(https://jsbin-user-assets.s3.amazonaws.com/marcysutton/menu.svg) no-repeat center center;
	background-size: contain;
}
.icon-help {
	background: url(https://jsbin-user-assets.s3.amazonaws.com/marcysutton/question.svg) no-repeat center center;
	background-size: contain;
}
button, .button {
	background-color: buttonface;
    border: 2px outset buttonface;
    box-sizing: border-box;
	display: inline-block;
	font-weight: bold;
	font-size: 24px;
	height: 3em;
	line-height: 3em;
    padding: 3px 6px 6px;
	vertical-align: middle;
	-webkit-appearance: button;
}
