* {
	font-family: sans-serif;
}
.skip-links {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.skip-links li a {
	background-color: #fff;
	display: block;
	left: -600000px;
	padding: 0.5em;
	position: absolute;
}
.skip-links li a:focus {
	left: 0;
}
[tabindex="-1"]:focus {
	outline: none;
}
