
html,
body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
div {
  color: #fff;
  height: 100px;
  float: left;
  padding-bottom: 2%;
  width: 200px;
}
div:before {
  content: "";
  display: block;
  height: 35%;
}
div:nth-child(1) {
  background-color: purple;
}
div:nth-child(2) {
  background-color: red;
}
div:nth-child(3) {
  background-color: blue;
}
div:nth-child(4) {
  background-color: green;
}
div:nth-child(5) {
  background-color: yellow;
  color: #000;
}
div:nth-child(6) {
  background-color: orange;
  color: #000;
}
div:nth-child(5) a,
div:nth-child(6) a {
  color: #000;
}
div h1 {
  margin: 0;
}
div a {
  color: #fff;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
}
div button {
  background-color: #000;
  border: 0;
  color: #fff;
  font-size: 1em;
  padding: 0.5em;
}
div button:focus {
  background-color: #fff;
  color: #000;
}
