<!DOCTYPE html>
<html lang="en" <head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Button Demo</title>
<link rel="stylesheet" type="text/css" href="src/styles.css" />
<script src="./src/index.js"></script>
</head>

<body id="root" ng-app="demoApp" ng-controller="demoController">
	<main>
		<button aria-label="Help" ng-click="doStuff()">
			<i class="icon icon-help"></i>
		</button>

		<div class="button" role="button" tabindex="0" aria-label="Menu" ng-click="doStuff()" ng-keydown="doStuff()">
			<i class="icon icon-menu"></i>
		</div>
	</main>
</body>

</html>